@import "./../../../--variables.scss";

.sidebarItem {
  &:hover {
    background-color: $meloRed;
    svg {
      fill: $red;
      color: $red;
    }
  }
}

.activeItem {
  background-color: $meloRed;
  span {
    color: $red;
  }
  svg {
    fill: $red;
    color: $red;
  }
}
